.class {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee8aa;
  color: #A33117;
}

.class .sections {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class .sections .skill ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  flex-wrap: wrap;
  list-style: none;
}

.class .sections .skill ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attributes h2 {
  margin-bottom: 10px;
  margin-top:10px;
}

.class .sections .attributes ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  flex-wrap: wrap;
}

.temper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
}

.temper h2, .temper button {
  margin-bottom: 10px;
  margin-top:10px;
}

.clatter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
}

.clatter h2, .clatter p, .clatter button {
  margin-bottom: 10px;
  margin-top:10px;
}

.clatter ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clatter-img {
  width: 150px;
  height: 150px;
}

.skill button {
  margin-top:15px;
  margin-bottom:15px;
}

.class .sections ul li{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 85%;
}

.class .sections ul li h3 {
  margin-top:20px;
  margin-bottom: 10px;
}

.class .sections ul li p {
  margin-top:5px;
}

.class .sections .clatter ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  flex-wrap: wrap;
}

.class .sections #save {
  margin-top:10px;
  margin-bottom: 40px;
}

@media (min-width:800px) {
  .class .sections .skill ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 85%;
    list-style: none;
  }
  .class .sections .skill ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }
}